body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container{
  width:100%;
  max-width:1170px;
  padding:0 15px;
  margin:auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image: url(workplace-2303851_1920.jpg);
  background-size: cover;
}

.top-wrapper h1{
  opacity:0.7;
  font-size:40px;
  letter-spacing: 2px;
}

.top-wrapper p{
  opacity:0.7;
  font-size:30px;
}

.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity:1;
}

.twitter{
  background-color: #55acee;
}

.btn-wrapper{
  margin:20px 0;
}

.twitter{
  margin-right: 10px;
}

.fa{
  margin-right: 10px;
}

header{
  height:100px;
  background-color: #ffe4e1;
  position:fixed;
  background-size:cover;
  width:100%;
  top:0;
  z-index: 10;
}

.logo{
  margin:10px 0 0 20px;
  width:70px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;

}

.right-twitter{
  margin:30px 10px 0 0;
  padding:10px 10px;
  color:white;
  width:120px;
  display:block;
  background-color:  #55acee;
  opacity:0.8;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
}

.right-twitter:hover{
  opacity:1;
}

.favorite-wrapper{
  padding-bottom:80px;
  background-color: #f7f7f7;
  float:left;
}

.heading{
  padding:60px 0 30px 0;
  color: #5f5d60;
  display:block;
}

.heading h2{
  font-weight:normal;
  display:inline-block;
}

.heading h3{
  font-weight: normal;
}

.favorites{
  width:100%;
  margin:0 auto;
}
.favorite {
  width: 25%;
  float:left;
  padding:0 10px;
  text-align: center;
}

.favorite-icon img{
  width:auto;
  height:200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.txt-contents{
  width:80%;
  display:inline-block;
  margin-top: 20px;
  font-size:12px;
  color:#b3aeb5;
}

.message:active{
  box-shadow: none;
  position:relative;
  top:6px;
}

.message-wrapper{
  border-bottom:1px solid #ba55d3;
  padding-bottom:80px;
  text-align: center;
}

.message{
  background-color: #dda0dd;
  padding:15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #ba55d3;
}

footer img{
  width:125px;
}

footer p{
  color:#ff69b4;
  font-size: 12px;
}

footer{
  padding-top:30px;
}

.clear{
  clear:left;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* displayをnoneに指定してください */
  display:none;
}
